.LoginPassword{
  display: flex;
  width: 100%;

  .figure{
    display: flex;
    background: url('../../assets/ImageFromLogin.jpg') no-repeat center center;
    background-size: cover;
    min-width: 45%;
    height: 120vh;

  }

  section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;

    align-items: center;
    width: 100%;
    padding: 0% 5%;

  }

}

@media (max-width: 750px){
  .LoginPassword{
    height: 100vh;
  
    .figure{
      display: none;

    }
  }
}