.PhotoContent{
  background: #4545451a;
  backdrop-filter: blur( 10px );
  -webkit-backdrop-filter: blur( 10px );
  display: flex;

  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;

  height: 100vh;
  left: 0;
  top: 0;
  z-index: 30;

  main{
    height: 80vh;
    width: 80%;
    background: #fff;
    display: flex;

    padding: 5px;
    border-radius: 10px;
    transform: scale(0.8);
    animation: scaleUp 0.3s forwards;

    figure{
      display: flex;
      height: 100%;
      flex: 2;  

      img{
        height: 93.5%;
        border-radius: 10px;

      }

    }

    aside{
      display: flex;
      flex: 2;
      justify-content: space-around;

    }

  }
  
}

@keyframes scaleUp {
  to {
    opacity: initial;
    transform: initial;
    
  }

}



@media (max-width: 850px){

  .PhotoContent{
    main{
      flex-direction: column;
      height: 95vh;
      overflow-y: scroll;

      figure{
        display: flex;
        justify-content: center;
        height: 100%;
        flex: 2;  
  
        img{
          width: 300px;
          border-radius: 10px;
          
        }

      }

    }
    
  }

}


.Aside{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;

  header{
    display: flex;
    justify-content: flex-end;

    button{
      display: flex;
      border-radius: 1000vh;
      justify-content: center;

      align-items: center;
      border: none;
      background: #ff000000;

      transition: 0.3s;
      padding: 3px;
      margin: 5px 5px 0px 0px;

    }

    button:hover {
      background: #c8c8c8;
      cursor: pointer;
      
    }

  }
  .ButtonDelete{
    padding: 5px 10px;
    border-radius: 555px;
    background: #c8c8c800;
    cursor: pointer;
    border: 1px solid #000;

  }
  .ButtonDelete:focus {
    outline: none;
    box-shadow:
    0 0 0 3px #5f8de9ce,
    0 0 0 4px #000e79;

  }

  p{
    display: flex;
    justify-content: space-around;

    span{
      display: flex;
      align-items: center;
      gap: 5px;
    }

  }

  h1{
    margin-left: auto;
    margin-right: auto;

  }

  ul{
    display: flex;
    justify-content: center;
    list-style-type: none;

    gap: 30px;
    font-weight: 700;
    font-family: 25px;

  }

}