.Password {
  display: flex;


  div {
    flex: 1;

  }

  .Left {
    background: url('../../assets/DogFromPassword.jpg') no-repeat center center;
    background-size: cover;
    height: 100vh;
    width: 50vh;

  }

  .Right {
    padding: 0px 30px;
    margin: auto;

    Input {
      margin: 10px 0px;

    }

  }

}
