.GlobalsButton {
  font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 0.4rem;
  background: #114dff;
  color: #ececec;
  min-width: 8rem;
  padding: 0.8rem 1.2rem;
  transition: 0.3s;
  font-weight: 700;
  
}

.GlobalsButton:hover,
.GlobalsButton:focus {
  outline: none;
  box-shadow: 0 0 0 3px #5f8de9ce, 0 0 0 4px #000e79;

}

.GlobalsButton:disabled {
  opacity: 0.5;
  cursor: wait;
}